<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>eric-service-3.2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection for server</description>
    <res-ref-name>jdbc/eric-registry</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>ebxmlrr-http-receiver-servlet</servlet-name>
    <servlet-class>it.cnr.icar.eric.server.interfaces.rest.RestServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ebxmlrr-soap-receiver-servlet</servlet-name>
    <servlet-class>it.cnr.icar.eric.server.interfaces.soap.RegistryBSTServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>ebxmlrr-thin-receiver-servlet</servlet-name>
  	<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ebxmlrr-soap-receiver-servlet</servlet-name>
    <url-pattern>/registry/soap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ebxmlrr-http-receiver-servlet</servlet-name>
    <url-pattern>/registry/http/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ebxmlrr-thin-receiver-servlet</servlet-name>
  	<url-pattern>/registry/thin/*</url-pattern>
  </servlet-mapping>
  <jsp-config>
  	<taglib>
  		<taglib-uri>/components</taglib-uri>
  		<taglib-location>/WEB-INF/components.tld</taglib-location>
  	</taglib>
  </jsp-config>
</web-app>